.challenge-card {
    position: relative;
    background-color: #ffffff;
    width: 360px;
    height: 332px;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .challenge-card:hover {
    transform: scale(1.02); /* Slightly scale up the card */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Add a stronger shadow */
  }
  .challenge-image{
    height: 160px;
    width: 100%;
    object-fit: cover;    
    border-radius: 24px 24px 0px 0px;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .challenge-date{
    width: 46px;
    height: 57px;
    padding: 12px 0px 0px 0px;
    border-radius: 12px;
    left: 12px;
    background-color: #ffffff;
    border-radius: 12px;
    position: absolute;
    top: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
  }

  /* Text Animations */
  .challenge-title,
  .challenge-cost,
  .challenge-location {
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .challenge-card:hover .challenge-title,
  .challenge-card:hover .challenge-cost {
    color: #304fc9;
  }
  .challenge-favorite{
    width: 32px;
    height: 32px;
    padding: 8px;
    gap: 10px;
    border-radius: 20px;
    right: 12px;
    top: 12px;
    position: absolute;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    }

  .challenge-title,
.challenge-cost,
.challenge-location {
  transition: color 0.3s ease, transform 0.3s ease;
}

  .favorite-challenge{
    width: 16px;
    height: 16px;
  }
  .day {
    font-weight: 700;
    font-size: 24px;
    font-style: bold;
    margin-bottom: 0px; 
  }
  
  .month {
    font-size: 16px;
    margin-bottom: 9.5px;
  }


  .card-in-challenge{
    line-height: 31.92px;
    text-align: center;
    margin-bottom: 96px;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;    
    position: absolute;    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    top: 12px;
  }

  