  .dashboard {
    display: flex;
    height: 100vh;
    background-color: hsl(231, 28%, 95%);
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between search and user actions */
    padding: 10px; /* Adjust padding as needed */
}

  /* header*/
  .user-actions {
    display: flex;
    align-items: center;
    margin-left: 107px;
    margin-top: 15px;
}

.button-actions-user {
  display: flex;
  gap: 12px;
}

  .button-actions-user img{
    width: 32px;
    height: 32px;
  }

  .button-actions-user button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 16px;
    border-radius: 40px;
    background: var(--White, #FBFBFD);
    border: none;    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  /* main */
  .main-content {
    padding: 0px;
    margin: 0px;
  }

  .notification-btn {
    justify-items: center;
    border: none;
    cursor: pointer;
    background-color: #FF7D33;
    width: 64px;
    height: 64px;
    padding: 16px;
    gap: 16px;
    border-radius: 40px;
    margin-left: 136px;
    margin-right: 24px;
  }
  
  .notification-btn img{
    width: 32px;
    height: 32px;
  }

