.today-schedule {
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 20px 0px #0000000A;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 32px;
  }
  
  .today-schedule h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 37.24px;
    margin-bottom: 0px;
    text-align: left;
  }
    
  .event-time {
    width: fit-content;
    height: fit-content;
    padding-right: 16px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 4px;
    text-align: right;
  }
  
  .event-time-regular {
    border-right: 4px #C0F597 solid;
  }
  
  .challenge-time {
    border-right: 4px #FFC127  solid;
  }
  
  .event-time_start{
    font-size: 24px;
    font-weight: 400;
    line-height: 31.92px;
    text-align: right;
    color: #000000;
  }
  
  .event-info{
    margin-left: 12px;
  }
  .event-state{
    font-size: 16px;
    font-weight: 400;
    line-height: 21.28px;
    text-align: left;
    color: #00000099;
  }
  .event-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 31.92px;
    text-align: left;
  }

  .info-celeb{
    display: flex;
  }